<!-- <script type='text/javascript' src='http://172.17.33.144:8001/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' style='width: 1000px; height: 827px;'>
    <object class='tableauViz' width='1000' height='827' style='display:none;'>
        <param name='host_url' value='http://172.17.33.144:8001/trusted/{{ticket}}' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='test&#47;1&#47;admin&#47;test' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name="ticket" value="{{ticket}}">
    </object>
</div> -->

<!-- <iframe src="http://172.17.33.144:8001/views/test/1?:showAppBanner=false&:display_count=n&:showVizHome=n&:origin=viz_share_link" frameborder="0"></iframe> -->


<img src="https://tableau.cuc.edu.cn/views/test/1?:showAppBanner=false&:display_count=n&:showVizHome=n&:origin=viz_share_link" alt="">

<!-- <script type='text/javascript' src='http://172.17.33.144:8001/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' style='width: 1000px; height: 827px;'><object class='tableauViz' width='1000'
        height='827' style='display:none;'>
        <param name='host_url' value='http%3A%2F%2F172.17.33.144%3A8001%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='test&#47;1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
    </object>
</div> -->

<!-- <!DOCTYPE html>
<html>

<head>
    <title>tableau页面</title>

    <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
    <script type="text/javascript">
        function initViz() {
            var containerDiv = document.getElementById("vizContainer");
            var url = "http://172.17.33.144:8001/trusted/{{ticket}}/views/test/1";
            options = {
                hideTabs: true,
                //隐藏底部所有按钮
                //hideToolbar:true,
                onFirstInteractive: function () {
                    console.log("Run this code when the viz has finished loading.");
                }
            };

            var viz = new tableau.Viz(containerDiv, url, options);
        }
    </script>
</head>

<body onload="initViz();">
    <div id="vizContainer">
    </div>
    <input id="tickUrl" type="hidden" value="${tickUrl}">
</body>

</html> -->