{% extends "common/layout_main.html" %}


{% block css %}
<!-- <header>
    <frame-options policy="ALLOW-FROM" />
</header> -->
{% endblock %}


{% block content %}


<script type='text/javascript' src='https://tableau.cuc.edu.cn/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' style='width: 1000px; height: 827px;'>
    <object class='tableauViz' width='1000' height='827' style='display:none;'>
        <param name='host_url' value='https://tableau.cuc.edu.cn/' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='test&#47;1&#47;admin&#47;test' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='no' />
        <param name='showAppBanner' value='false' />
        <param name="ticket" value="{{ticket}}">
    </object>
</div>


<!-- <a href="http://172.17.33.144:8001/trusted/{{ticket}}/views/test/1">
    http://172.17.33.144:8001/trusted/{{ticket}}/views/test/1
</a> -->
<!-- <img src="http://172.17.33.144:8001/trusted/{{ticket}}/views/test/1" width="900" height="700"> -->

<!-- <script type='text/javascript' src='https://prod-apnortheast-a.online.tableau.com/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' style='width: 1920px; height: 882px;'><object class='tableauViz' width='1920'
        height='882' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fprod-apnortheast-a.online.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='&#47;t&#47;tableauzzh' />
        <param name='name' value='Regional&#47;Obesity&#47;13164108610@163.com&#47;zzh' />
        <param name='tabs' value='yes' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' /></object></div> -->


<!-- <script type='text/javascript' src='http://172.17.33.144:8001/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' style='width: 1000px; height: 827px;'><object class='tableauViz' width='1000'
        height='827' style='display:none;'>
        <param name='host_url' value='http%3A%2F%2F172.17.33.144%3A8001%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='test&#47;1&#47;admin&#47;test' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
    </object>
</div> -->


<!-- <script type='text/javascript' src='http://172.17.33.144:8001/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' style='width: 1000px; height: 827px;'>
    <object class='tableauViz' width='1000' height='827' style='display:none;'>
        <param name='host_url' value='http%3A%2F%2F172.17.33.144%3A8001%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='test&#47;1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name="ticket" value="{{ticket}}">
        <param name='filter' value=':original_view=yes' />
    </object>
</div> -->

<!-- <script type='text/javascript' src='https://prod-apnortheast-a.online.tableau.com/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' style='width: 1000px; height: 827px;'><object class='tableauViz' width='1000'
        height='827' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fprod-apnortheast-a.online.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='&#47;t&#47;tableauzzh' />
        <param name='name' value='test&#47;1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' /></object></div> -->

<!-- <script type='text/javascript' src='http://172.17.33.144:8001/javascripts/api/viz_v1.js'></script> -->
<!-- <div class='tableauPlaceholder' style='width: 1920px; height: 882px;'><object class='tableauViz' width='1920'
        height='882' style='display:none;'>
        <param name='host_url' value='http://172.17.33.144:8001/trusted/{{ticket}}/views' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='test&#47;1_1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name="ticket" value="{{ticket}}">
        <param name='filter' value=':original_view=yes' />
    </object>
</div> -->


<!-- <script type='text/javascript' src='http://172.17.33.144:8001/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' style='width: 1000px; height: 827px;'><object class='tableauViz' width='1000'
        height='827' style='display:none;'>
        <param name='host_url' value='http%3A%2F%2F172.17.33.144%3A8001%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='test&#47;1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
    </object>
</div> -->


<!-- <iframe
    src="http://172.17.33.144:8001/views/test/1?:showAppBanner=false&:display_count=n&:showVizHome=n&:origin=viz_share_link"
    width="800" height="600">
</iframe> -->


<!-- <script type="text/javascript" src="http://172.17.33.144:8001/javascripts/api/viz_v1.js"></script>
<script type="text/javascript">
    function initViz() {
        var containerDiv = document.getElementById("vizContainer"),
            url = "http://172.17.33.144:8001/#/views/test/1?:iid=3",
            // http://172.17.33.144:8001/#/views/test/1?:iid=3
            options = {
                hideTabs: true,
                onFirstInteractive: function () {
                    console.log("Run this code when the viz has finished loading.");
                }
            };

        var viz = new tableau.Viz(containerDiv, url, options);
    }
</script> -->


<!-- <p>{{ticket}}</p> -->

<!-- <script type='text/javascript' src='http://172.17.33.144:8001/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' style='width: 1000px; height: 827px;'>
    <object class='tableauViz' width='1000' height='827' style='display:none;'>
        <param name='host_url' value='http://172.17.33.144:8001/' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='test&#47;1&#47;admin&#47;test' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name='ticket' value='{{ticket}}'>
    </object>
</div> -->


<!-- <script type='text/javascript' src='http://172.17.33.144:8001/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' style='width: 1000px; height: 827px;'>
    <object class='tableauViz' width='1000' height='827' style='display:none;'>
        <param name='host_url' value='http://172.17.33.144:8001/trusted/{{ticket}}/views/' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='test/1' />
        <param name='ticket' value='{{ticket}}'>
        <param name='tabs' value='yes' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
    </object>
</div> -->





<!-- <script type='text/javascript' src='http://172.17.33.144:8001/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' style='width: 1000px; height: 827px;'><object class='tableauViz' width='1000'
        height='827' style='display:none;'>
        <param name='host_url' value='http%3A%2F%2F172.17.33.144%3A8001%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='test&#47;1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name='ticket' value='{{ticket}}' />
    </object>
</div> -->


<!-- <script type='text/javascript' src='http://172.17.33.144:8001/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' style='width: 1000px; height: 827px;'><object class='tableauViz' width='1000'
        height='827' style='display:none;'>
        <param name='host_url' value='http%3A%2F%2F172.17.33.144%3A8001%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='test&#47;1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='origin' value='card_share_link' />
        <param name='showAppBanner' value='false' />
    </object>
</div> -->



<!-- <script type='text/javascript' src='http://172.17.33.144:8001/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' style='width: 1000px; height: 827px;'><object class='tableauViz' width='1000'
        height='827' style='display:none;'>
        <param name='host_url' value='http%3A%2F%2F172.17.33.144%3A8001%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='test&#47;1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name="ticket" value="{{ticket}}">
    </object>
</div> -->
{% endblock %}