<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>中传小涵</title>
    <link rel="shortcut icon" href="{{ buildStaticUrl('/img/favicon.ico') }}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ buildStaticUrl('/materialize/css/materialize.min.css') }}"
        media="screen,projection" />
    <link href="{{ buildStaticUrl('/css/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ buildStaticUrl('/css/font-awesome.css') }}" rel="stylesheet" />
    <link href="{{ buildStaticUrl('/js/morris/morris-0.4.3.min.css') }}" rel="stylesheet" />
    <link href="{{ buildStaticUrl('/css/custom-styles.css') }}" rel="stylesheet" />
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' /> -->
    <link rel="stylesheet" href="{{ buildStaticUrl('/js/Lightweight-Chart/cssCharts.css') }}">

    {% block css %}

    {% endblock %}

</head>

<body>
    <div id="app">
        <div id="wrapper">
            <nav class="navbar navbar-default top-navbar" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse"
                        data-target=".sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand waves-effect waves-dark" href="{{buildUrl('/')}}">
                        <i class="fa fa-bar-chart-o"></i>
                        <strong>舆情分析</strong></a>
                    <div id="sideNav" href="">
                        <i class="material-icons dp48">toc</i>
                    </div>
                </div>

                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="https://github.com/ZZh2333?tab=repositories">
                            <i class="fa fa-user fa-fw"></i> <b>邹子涵</b>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-user fa-fw"></i> <b>沈旭阳</b>
                        </a>
                    </li>
                </ul>
            </nav>
            <nav class="navbar-default navbar-side" role="navigation" style="left: 0px;">
                <div class="sidebar-collapse">
                    <ul class="nav" id="main-menu">
                        <li>
                            <a href="{{buildUrl('/')}}" class="waves-effect waves-dark"><i class="fa fa-dashboard"></i>
                                首页</a>
                        </li>

                        <li>
                            <a href="{{buildUrl('/wordcloud/')}}" class="waves-effect waves-dark"><i
                                    class="fa fa-desktop"></i>
                                词云</a>
                        </li>
                        <li>
                            <a href="{{buildUrl('/crawier/')}}" class="waves-effect waves-dark"><i
                                    class="fa fa-bar-chart-o"></i>
                                爬虫</a>
                        </li>
                    </ul>

                </div>

            </nav>
            <div id="page-wrapper">

                <div id="page-inner">

                    {% block content %}

                    {% endblock %}

                </div>
            </div>
        </div>
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- <script src="{{ buildStaticUrl('/js/jquery-1.10.2.js') }}"></script>


    <script src="{{ buildStaticUrl('/js/bootstrap.min.js') }}"></script>

    <script src="{{ buildStaticUrl('/materialize/js/materialize.min.js') }}"></script>

    <script src="{{ buildStaticUrl('/js/jquery.metisMenu.js') }}"></script>
    <script src="{{ buildStaticUrl('/js/morris/raphael-2.1.0.min.js') }}"></script>
    <script src="{{ buildStaticUrl('/js/morris/morris.js') }}"></script>


    <script src="{{ buildStaticUrl('/js/easypiechart.js') }}"></script>
    <script src="{{ buildStaticUrl('/js/easypiechart-data.js') }}"></script>

    <script src="{{ buildStaticUrl('/js/Lightweight-Chart/jquery.chart.js') }}"></script>


    <script src="{{ buildStaticUrl('/js/custom-scripts.js') }}"></script> -->


    {% block js %}

    {% endblock %}

</body>

</html>