
{% extends "common/layout_main.html" %}

{% block content %}
<!-- <body> -->


<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="card">
            <div class="card-action">
                <h1 class="page-header">
                    豆瓣读书top250-词云
                </h1>



                <h2>
                词条：{{wordcount}}
                </h2>
                <br>
                <form action="/wordcloud/doubanciyun">
                    <div class="input-field col s6">
                        <input type="text" name="doubanwanted" value="" default="">
                        <input type="submit" ,value="搜索"><br>
                    </div><br>
                </form><br>
            </div>

            <div class="card-content">
                {% if rs %}
                {% for r in rs %}
                <div class="card-content">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">
                                {{ r.id }}&nbsp{{ r.title }}
                            </div>
                            <div class="collapsible-body">
                                <p>{{ r.bookintro }}</p>
                                <p>
                                    <a href="{{r.bookurl}}">{{ r.bookurl }}</a><br>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                {% endfor %}
                {% else %}
                <tr>
                    <td>暂无所要查询的数据，试试重新搜索吧！</td>
                </tr>
                {% endif %}
            </div>

        </div>
        <!--End Advanced Tables -->
    </div>
</div>


{% endblock %}


{% block js %}

<script src="{{ buildStaticUrl('/js/d3.v3.min.js') }}"></script>
<script src="{{ buildStaticUrl('/js/d3.layout.cloud.js') }}"></script>

<script>
    var w=window.innerWidth|| document.documentElement.clientWidth|| document.body.clientWidth;
    var h=window.innerHeight|| document.documentElement.clientHeight|| document.body.clientHeight;
             w=w*0.75;
             h=h*0.80;
             var fill = d3.scale.category20();
             var words=new Array({{wordcount}});
             {% for wc in wordcloud %}
                words[{{loop.index-1}}]={text:"{{wc[1]}}",size:"{{wc[0]/3}}"};
             {% endfor %}
             var wc=d3.layout.cloud()
                      .size([w, 300])
                      .words(words)
                      .padding(5)
                      .rotate(function() { return ~~(Math.random() * 2) * 90; })
                      .font("Impact")
                      .fontSize(function(d) { return d.size; })
                      .on("end", draw)
                      .start();
    
              function draw(words) {
                d3.select("div.card-action").append("svg")
                    .attr("width", w)
                    .attr("height", 300)
                    .append("g")
                    .attr("transform", "translate("+w/2+",150)")
                    .selectAll("text")
                    .data(words)
                    .enter()
                    .append("a")
                    .attr("xlint:href",function(d){
                                    return "/wordcloud/doubanciyun?wanted="+d.text;
                         })
                    .append("text")
                    .style("font-size", function(d) { return d.size + "px"; })
                    .style("font-family", "Impact")
                    .style("fill", function(d, i) { return fill(i); })
                    .attr("text-anchor", "middle")
                    .attr("transform", function(d) {
                      return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                    })
                    .text(function(d) { return d.text; });
              }
        </script>


<script>
    $(document).ready(function () {
        $('ul.tabs').tabs();
        $('.collapsible').collapsible({
            accordion: false, // A setting that changes the collapsible behavior to expandable instead of the default accordion style
            onOpen: function (el) {
                alert('Open');
            }, // Callback for Collapsible open
            onClose: function (el) {
                alert('Closed');
            } // Callback for Collapsible close
        });
    });
</script>
{% endblock %}
<!-- </body> -->