{% extends "common/layout_wordcloud.html" %}

{% block css %}

{% endblock %}

{% block content %}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">词云</h2>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aligncenter">
                    <h1 class="aligncenter">词云-中传要闻</h1>
                    <form>
                        <table width="35%" border="0" cellspacing="1" cellpadding="0">
                            <tr>
                                <td width="75%">
                                    <input type="text" name="wanted" class="form-control" placeholder="在中传要闻中搜索"
                                        value="" default="">
                                </td>
                                <td width="5%"></td>
                                <td width="20%">
                                    <input type="submit" value="搜索" class="btn btn-primary">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="aligncenter">
                <h3><span>最新新闻</span></h3>
            </div>
            {% if cucnewrs %}
            {% for r in cucnewrs %}
            <div class="col-md-4">
                <div class="testimonials">
                    <div class="active item">
                        <blockquote cellpadding="0" style="height: 100%;">
                            <a href="{{r.newsurl}}" target="_blank">
                                <h3><span>{{r.title}}</span></h3>
                            </a>
                            <p>{{r.department}}</p>
                            <p>{{r.date}}</p>
                        </blockquote>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            {% endif %}
        </div>
    </div>
</section>

<section class="section-padding gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h1>词云-豆瓣读书</h1>
                    <form>
                        <table width="35%" border="0" cellspacing="1" cellpadding="0">
                            <tr>
                                <td width="75%">
                                    <input type="text" name="doubanwanted" class="form-control" placeholder="在书籍简介中搜索"
                                        value="" default="">
                                </td>
                                <td width="5%"></td>
                                <td width="20%">
                                    <input type="submit" value="搜索" class="btn btn-primary">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="aligncenter">
                <h3><span>好书推荐</span></h3>
            </div>
            {% if doubanrs %}
            {% for s in doubanrs %}
            <div class="col-md-4">
                <div class="testimonials">
                    <div class="active item">
                        <blockquote style="background-color: white;">
                            <a href="{{s.bookurl}}" target="_blank">
                                <h3><span>《{{s.title}}》</span></h3>
                            </a>
                            <p>评论精选：{{s.comment}}</p>
                            <p>书籍排名：{{s.id}}</p>
                        </blockquote>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}

{% block js %}

{% endblock %}