{% extends "common/layout_crawier.html" %}


{% block content %}
<section id="banner">
    <!-- Slider -->
    <div id="main-slider" class="flexslider">
        <ul class="slides">
            <li>
                <img src="{{ buildStaticUrl('/img/slides/cucdoor.jpg') }}" alt="" />
                <div class="flex-caption">
                    <h3>中国传媒大学</h3>
                    <p>Communication University of China</p>

                </div>
            </li>
            <li>
                <img src="{{ buildStaticUrl('/img/slides/cucpoor.jpg') }}" alt="" />
                <div class="flex-caption">
                    <h3>舆情分析与社会计算</h3>
                    <p>Public Opinion Analysis and Social Computing</p>
                </div>
            </li>
        </ul>
    </div>
    <!-- end slider -->
</section>
<section>
    <h1>该页面还在施工中。。。</h1>
</section>
{% endblock %}
