{% extends "common/layout_main.html" %}

{% block content %}
<!-- <body> -->


<div class="row">

    <!-- Advanced Tables -->
    <div class="card">
        <div class="card-action">
            <h1 class="page-header">
                中传要闻-词云
            </h1>
            <form>
                <div class="input-field col s6">
                    <input type="text" name="wanted" value="" default="">
                    <!-- <label for="first_name">在新闻内容中搜索</label> -->
                    <input type="submit" value="搜索"><br>
                </div><br>
            </form>
            <br>
            <br>
            <br>
            <br>
            <!-- <div class="clearBoth"></div> -->
            <div class="card-content">
                <div class="col-md-4 col-sm-4">
                    <div class="card teal">
                        <div class="card-content white-text">
                            <span class="card-title">Card Title</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Card Title</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Card Title</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearBoth"></div>
    </div>



    <div class="card">
        <div class="card-action">
            <h1 class="page-header">
                豆瓣读书top250-词云
            </h1>
            <form>
                <div class="input-field col s6">
                    <input type="text" name="doubanwanted" value="" default="">
                    <input type="submit" value="搜索"><br>
                </div><br>
            </form>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>

    <!--End Advanced Tables -->
</div>
</div>


{% endblock %}


{% block js %}

<script>
    $(document).ready(function () {
        $('ul.tabs').tabs();
        $('.collapsible').collapsible({
            accordion: false, // A setting that changes the collapsible behavior to expandable instead of the default accordion style
            onOpen: function (el) {
                alert('Open');
            }, // Callback for Collapsible open
            onClose: function (el) {
                alert('Closed');
            } // Callback for Collapsible close
        });
    });
</script>
{% endblock %}
<!-- </body> -->